.p-3{
    color: red;
    font-size: 25px;
}
.doc{
    font-size: 18px;
}
.doc1{
    font-size: 18px;
    margin-top: 10px;
}
.text-primary{
    font-size: 20px;
}
.text-uppercase{
    margin-left: 25px;
    font-size: 15px;
}
.doc2{
    margin-left: 25px;
    font-size: 15px;
}